<%- include('./partials/headers', {title: "Index", userInfo: user, role: role }) %>

<div class="absolute bottom-0 inset-x-0 h-3/5 w-2full -ml-64 -mb-12 bg-gradient-zospace-2 transform"></div>
      <div class="relative container px-4 pt-12 md:pt-20 mx-auto">
          <div class="relative flex flex-wrap -mx-4">
            <div class="w-full lg:w-1/2 2xl:w-2/5 px-4 mb-12 mb:mb-0">
              <span class="text-xl lg:text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-200 to-orange-600">Welcome to</span>
              <h2 class="max-w-lg lg:max-w-md 2xl:max-w-none mt-7 mb-12 mb:mb-20 text-6xl lg:text-7xl 2xl:text-9xl text-white font-bold font-heading">Cyci</h2>
              <p class="mb-12 lg:mb-24 text-lg text-white opacity-90">We are a unique service center ranging from Bot Hosting, Email Hosting, Minecraft Hosting, Bot Development, Graphics Design and more! </p>
              <div class="flex flex-wrap items-center">
                <a class="inline-block mr-14 px-12 py-5 text-lg text-white font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200" href="https://discord.com/8sQxQuqbc3">Discord</a>
                <div class="w-full sm:w-auto mt-8 sm:mt-0 flex">
                  <button class="p-2 hidden">
                    <svg width="11" height="20" viewbox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7597 18.6258C11.0801 18.942 11.0801 19.4502 10.7597 19.7641C10.4393 20.0781 9.92164 20.0792 9.60124 19.7641L0.240298 10.569C-0.0801018 10.255 -0.0801017 9.74688 0.240298 9.43061L9.60124 0.235462C9.92164 -0.0784849 10.4393 -0.0784848 10.7597 0.235462C11.0801 0.550571 11.0801 1.05986 10.7597 1.37381L2.22247 10.0004L10.7597 18.6258Z" fill="white"></path></svg></button>
                  <span class="py-2 px-4 hidden">
                    <svg width="2" height="24" viewbox="0 0 2 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 0L1 24" stroke="white" stroke-opacity="0.24"></path></svg></span>
                  <button class="p-2 hidden">
                    <svg width="11" height="20" viewbox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.2403 1.37424C-0.0801003 1.05797 -0.0801003 0.549844 0.2403 0.235898C0.5607 -0.0780496 1.07836 -0.0792131 1.39876 0.235898L10.7597 9.43104C11.0801 9.74499 11.0801 10.2531 10.7597 10.5694L1.39876 19.7645C1.07836 20.0785 0.560699 20.0785 0.240298 19.7645C-0.0801019 19.4494 -0.0801019 18.9401 0.240298 18.6262L8.77752 9.99964L0.2403 1.37424Z" fill="white" class="hidden"></path></svg></button>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/2 2xl:w-3/5 px-4">
              <img class="w-full h-full object-contain" src="https://cyci.org/img/screenshot-98326.png" alt=""></div>
          </div>
        </div>
    
<%- include('./partials/footer', {disableNotif: false}) %>   