<!DOCTYPE html>
<html lang="en" style="margin:0;padding:0;height:100vh;">
  <head>
    <title>Index | Cyci</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="cyci">
    <meta property="og:description" content="Cyci Index">
    <meta name="theme-color" content="#7289DA">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cyci" />
    <meta property="og:image" content="https://cdn.cyci.rocks/576688747481743/user-1.png" >
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="./css/main.css" type="text/css"/>
    <link rel="icon" href="https://cdn.cyci.rocks/576688747481743/index.svg">
    <script src="./js/main.js"></script>
  </head>
  <body style="background-size: auto;padding-bottom: 20px;min-height: 100% !important; background-color: #667bd5; margin: 0 auto;padding: 0;">
    <div>
      <section class="is-background-contain is-background-no-repeat" style="background-image: url('./img/background.svg'); background-position: top; background-size: cover;">
        <nav class="navbar is-relative is-transparent py-3" aria-label="main navigation">
          <div class="container">
            <div class="navbar-brand"><a class="navbar-item" href="#"> <a id="header-logo" href="https://cyci.rocks"></a><a class="navbar-burger" role="button" type="button" data-toggle="side-menu" data-target="#sideMenuHeaders" aria-controls="sideMenuHeaders" aria-expanded="false" aria-label="Toggle navigation"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
            <div class="navbar-menu">
              <div class="navbar-start is-centered-absolute"><a class="navbar-item has-text-white" href="https://cyci.rocks/">CDN</a><a class="navbar-item has-text-white" href="https://mail.cyci.org/">Email</a><a class="navbar-item has-text-white" href="#">About Us</a><a class="navbar-item has-text-white" href="https://github.com/cyciorg/">Features</a></div>
            </div>
          </div>
        </nav>
        <div class="section">
          <div class="container">
            <div class="is-max-w-lg mx-auto has-text-centered mb-6">
              <h2 class="title is-spaced"><span>We are</span> <span class="has-text-primary">Cyci</span> <span>a unique service center</span></h2>
              <p class="subtitle">We offer a wide variety of service such as File Uploading, CDN hosting,  Link shortening, Email hosting etc.</p>
              <div class="buttons is-centered"><a class="button is-primary" href="https://discord.gg/8sQxQuqbc3">Discord</a><a class="button is-dark is-outlined" disabled href="#">Documentation</a></div>
            </div>
            <div class="is-relative is-max-w-3xl mx-auto mb-6">
              <div class="card">
                <div class="card-content">
                  <p class="title">This is a temporary frontend page for Cyci</p>
                  <p class="subtitle">~ Cyci Admins</p>
                </div>
              </div>
              <div style="position:absolute; top: 3%; left: 9%; width: 82%; height: 90%;"></div>
            </div>
            <div class="columns is-mobile is-multiline is-centered has-text-centered"></div>
          </div>
        </div>
        <div class="is-hidden" id="sideMenuHeaders">
          <div class="is-fixed is-top is-right is-fullsize has-background-grey" style="z-index: 1;"></div>
          <nav class="is-fixed is-top is-left is-bottom navbar is-flex is-flex-direction-column pt-4 px-4" style="width: 80%; height: 100%; overflow-y: scroll;">
            <div class="mb-5 navbar-brand is-flex is-justify-content-space-between"><a class="navbar-item" href="#"> <img src="https://cdn.cyci.rocks/576688747481743/index.svg" alt="" width="30"></a><a class="navbar-item" data-toggle="side-menu" data-target="#sideMenuHeaders" aria-controls="sideMenuHeaders" aria-label="Close">
                <svg class="image is-24x24" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg></a></div>
            <div>
              <nav class="navbar mb-5">
                <div class="is-fullwidth"><a class="navbar-item" href="https://cyci.rocks/">CDN</a><a class="navbar-item" href="https://mail.cyci.org/">Email</a><a class="navbar-item" href="https://github.com/cyciorg/">About Us</a></div>
              </nav>
            </div>
            <div class="pl-4 pb-4 mt-auto">
              <p class="mb-5 is-size-7"><span>Contact us! </span><a href="mailto:contact@cyci.org">contact@cyci.org</a></p>
            </div>
          </nav>
        </div>
      </section>
    </div>
  </body>
</html>