<!DOCTYPE html>
<html class="screen-top"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index | Cyci</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap">
    <link rel="stylesheet" id="bs-base-fonts">
    <link rel="stylesheet" href="./css/tailwind.css" id="bs-base-css">
    <style type="text/css" id="bs-recompiled-css"></style>
    <link rel="stylesheet" href="./css//fontello.css">
    <link rel="stylesheet" href="./css/shuffle.css">
    <meta property="og:site_name" content="Cyci">
    <meta property="og:description" content="Welcome to Cyci a unique service center">
    <meta name="theme-color" content="f4f4f4">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Index | Cyci" />
    <meta property="og:image" content="https://cdn.cyci.rocks/576688747481743/22958_Showcase_Logorainbow.png" >
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="icon" href="https://cdn.cyci.rocks/576688747481743/31453_LOGOONLY_Showcase_LogoRainbow.svg">
    <script src="./js/main.js"></script>
  </head>
  <body id="page" class="antialiased font-body bg-body text-body" data-new-gr-c-s-check-loaded="8.878.0" data-gr-ext-installed="" cz-shortcut-listen="true">
    <div class="" id="content">

      <section data-section-id="1" data-category="headers" data-component-id="44d0b9e2_01_awz" data-custom-component-id="83839" class="relative pb-20 bg-gray-800 overflow-hidden"><div class="absolute bottom-0 inset-x-0 h-full bg-gradient-zospace-2"></div>
        <div class="absolute bottom-0 inset-x-0 h-3/5 w-2full -ml-64 -mb-12 bg-gradient-zospace-2 transform -rotate-6"></div>
        <nav class="relative"><div class="flex py-8 px-4 lg:px-8 justify-between items-center">
          <button class="p-2 navbar-burger">
            <svg class="w-10 h-3" width="39" height="13" viewBox="0 0 39 13" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="39" height="2" rx="1" fill="#C4C4C4"></rect><rect x="19" y="11" width="20" height="2" rx="1" fill="#C4C4C4"></rect></svg></button>
          <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
            <a class="text-2xl text-white font-bold" href="#"><img src="./img/gdffghfg.png" alt="Cyci" width="256"></a>
          </div>
          <div class="hidden lg:block"><a class="inline-block mr-10 text-lg text-white hover:text-gray-50 font-bold border-b border-gray-200 cursor-not-allowed" href="#">Login</a><a class="inline-block px-12 py-4 text-white font-bold border border-gray-200 hover:border-white rounded-full cursor-not-allowed" href="#">Sign Up</a></div>
          </div>
        </nav><div class="relative container px-4 pt-12 md:pt-20 mx-auto">
        <div class="relative flex flex-wrap -mx-4">
          <div class="w-full lg:w-1/2 2xl:w-2/5 px-4 mb-12 mb:mb-0">
            <span class="text-xl lg:text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-200 to-orange-600">Welcome to</span>
            <h2 class="max-w-lg lg:max-w-md 2xl:max-w-none mt-7 mb-12 mb:mb-20 text-6xl lg:text-7xl 2xl:text-9xl text-white font-bold font-heading">Cyci</h2>
            <p class="mb-12 lg:mb-24 text-lg text-white opacity-90">We are a unique service center ranging from Bot Hosting, Email Hosting, Minecraft Hosting, Bot Development, Graphics Design and more!
            </p>
            <div class="flex flex-wrap items-center">
              <a class="inline-block mr-14 px-12 py-5 text-lg text-white font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200" href="https://discord.gg/8sQxQuqbc3">Discord</a>
              <div class="w-full sm:w-auto mt-8 sm:mt-0 flex">
                <button class="p-2">
                  <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7597 18.6258C11.0801 18.942 11.0801 19.4502 10.7597 19.7641C10.4393 20.0781 9.92164 20.0792 9.60124 19.7641L0.240298 10.569C-0.0801018 10.255 -0.0801017 9.74688 0.240298 9.43061L9.60124 0.235462C9.92164 -0.0784849 10.4393 -0.0784848 10.7597 0.235462C11.0801 0.550571 11.0801 1.05986 10.7597 1.37381L2.22247 10.0004L10.7597 18.6258Z" fill="white"></path></svg></button>
                <span class="py-2 px-4">
                  <svg width="2" height="24" viewBox="0 0 2 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 0L1 24" stroke="white" stroke-opacity="0.24"></path></svg></span>
                <button class="p-2">
                  <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.2403 1.37424C-0.0801003 1.05797 -0.0801003 0.549844 0.2403 0.235898C0.5607 -0.0780496 1.07836 -0.0792131 1.39876 0.235898L10.7597 9.43104C11.0801 9.74499 11.0801 10.2531 10.7597 10.5694L1.39876 19.7645C1.07836 20.0785 0.560699 20.0785 0.240298 19.7645C-0.0801019 19.4494 -0.0801019 18.9401 0.240298 18.6262L8.77752 9.99964L0.2403 1.37424Z" fill="white"></path></svg></button>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 2xl:w-3/5 px-4">
            <img class="w-full h-full object-contain" src="./img//screenshot-98326.png" alt=""></div>
        </div>
        </div>
        <div class="hidden navbar-menu relative z-50">
          <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
          <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-8 bg-white overflow-y-auto"><div class="flex items-center mb-16 pr-6">
            <a class="ml-10 mr-auto text-2xl text-gray-800 font-bold" href="#"><img src="./img/gdffghfg.png" alt="Cyci" width="256"></a>
            </div>
            <div>
              <ul><li class="mb-1 px-10"><a class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl" href="/pricing">Pricing</a></li>
                <li class="mb-1 px-10"><a class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl" href="https://github.com/cyciorg">Github</a></li>
                <li class="mb-1 px-10"><a class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-x1" href="mailto:contact@cyci.org">Contact</a></li>
              </ul></div>
            <div class="mt-auto px-10">
              <div class="pt-6"><a class="block mb-4 py-4 px-12 text-gray-800 text-center font-bold border border-gray-50 hover:border-gray-100 rounded-full cursor-not-allowed" href="#">Login</a><a class="block py-4 px-12 text-white text-center font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200 cursor-not-allowed" href="#">Sign up</a></div>
              <p class="mt-6 mb-4 text-lg text-center">
                <span>2021 © Cyci Org. All rights reserved.</span>
              </p>
            </div>
          </nav></div>
      </section>
    </div>

    <script>
    var links = document.getElementsByTagName('a');
    const div = document.querySelector('inline-block');
    for(var i = 0; i < links.length; i += 1) {
        links[i].addEventListener('click', function(e) {
          if (div.classList.contains("cursor-not-allowed")) {
            e.preventDefault();
          } else {
            e.preventDefault();
            window.open(e.target, '_blank')
          }
        });
    }

    var forms = document.getElementsByTagName('form');
    for(var i = 0; i < forms.length; i += 1) {
        forms[i].addEventListener('submit', function(e) {
            e.preventDefault();
        }, true);
    }
    </script>
  


</body></html>